/* Dark Mode for all pages */
html {
  color-scheme: dark light;
  filter: invert(1) hue-rotate(.5turn);
}

svg,
img,
[style*='background:url'],
[style*='background-image:url'],
[style*='background: url'],
[style*='background-image: url'],
video {
  filter: invert(1) hue-rotate(.5turn);
}

iframe {
  filter: invert(1) hue-rotate(.5turn);
}

/* Excluding form thumbnail on home page */
.thumbnail-view-layout div[class^='Form_block'] {
  filter: invert(1) hue-rotate(.5turn);
}

/* Excludin form builder canvas on form builder page */
div[class^='FormBuilderLayout_inner'] {
  filter: invert(1) hue-rotate(.5turn);
}

div[class^='FormBuilderLayout_inner'] svg,
div[class^='FormBuilderLayout_inner'] img,
div[class^='FormBuilderLayout_inner'] [style*='background:url'],
div[class^='FormBuilderLayout_inner'] [style*='background-image:url'],
div[class^='FormBuilderLayout_inner'] [style*='background: url'],
div[class^='FormBuilderLayout_inner'] [style*='background-image: url'],
div[class^='FormBuilderLayout_inner'] video {
  filter: unset;
}

/* Excludes CKEditor toolbar */
.ck-body-wrapper {
  filter: invert(1) hue-rotate(.5turn);
}
.ck-body-wrapper svg {
  filter: unset;
}

/* Excludes form builder preview page */
div[class^='DesktopPreview_desktop-preview'] iframe {
  filter: unset;
}
