.form-page__navigator_bar div[class^='FormNavigatorBar_layout'] {
  background-color: #383838 !important;
  border-bottom: 1px solid #666 !important;
}

.form-page__navigator ul[class^='FormNavigator_navigation'] {
  background-color: #383838 !important;
  border-bottom: 1px solid #383838 !important;
  border-right: 1px solid #666 !important;
}

.field-group__container .field-group__layout {
  background-color: #16151A !important;
}

.form-page__content div[class^='FormBuilderSettingPanel_layout'] {
  background-color: #16151A !important;
  border-bottom: 1px solid #383838 !important;
}

[class^='TitleName_name'] {
  color: #FFF !important;
}

[class^='FormNavigatorBar_nav'] a {
  color: #FFF !important;
}

[class^='FormNavigatorBar_nav'] a:hover {
  color: #666 !important;
}

[class^='FormNavigator_active'] [class^='FormNavigator_title'],
[class^='FormNavigator_title'],
.field-group__layout .field-add__title {
  color: #FFF !important;
}

.field-group__button {
  background-color: #383838 !important;
  border: 1px solid #666 !important;
}
.field-group__button span {
  color: #FFF !important;
}
.field-group__button span:hover {
  color: #FF8533 !important;
}

[class^='FieldTitle_layout'],
[class^='FieldCollapse_title'] {
  color: #FFF !important;
}

[class^='FieldCollapse_layout'] {
  border-top: 1px solid #666 !important;
}

[class^='AttrButtonGroupRender_label'] {
  color: #FFF !important;
}