#root,
.dashboard-container
.dashboard2,
.dashboard2_form-section,
.dashboard2_panel-setting {
  background-color: #16151A !important;
}

.enter-animation,
.dashboard2_sidebar {
  background-color: #383838 !important;
}

.nav-bar .breadcrumb-title.breadcrumb-title {
  color: #FFFFFF !important;
}

.form-list-layout span[class^='Title_item-title'] {
  color: #FFFFFF !important;
}

.dashboard2_sidebar .menu-item {
  color: #FFFFFF !important;
}

.dashboard2_sidebar .form-menu-item:hover .menu-item {
  color: #333 !important;
}

.dashboard2_sidebar .form-menu-item.active .menu-item{
  color: #555 !important;
}

.form-menu-group .form-menu-line {
  background-color: #555 !important;
}

.create-button-layout .create-form {
  background-color: #FF8533 !important;
  color: #FFF !important;
}

.label-layout .label-setting {
  color: #FFF !important;
}

.dashboard2_sidebar {
  border-right: 1px solid #666 !important;
}

.nav-bar-tools .form-tools-title {
  color: #FFF !important;
}

.recommend-list-container .recommend-list,
.recommend-list-container .recommend-list-item a {
  color: #FFF !important;
}

.recommend-list-container .recommend-list {
  border-top: 1px solid #666 !important;
}

header.new-header {
  border-bottom: 1px solid #666 !important;
  background-color: #383838 !important;
}

.breadcrumb-subtitle {
  color: #FFF !important;
}

.header-banner .header-logo .brand,
.header-banner ul.header-nav li a {
  color: #FFF !important;
}

